<div>
<% if @attacked_player == @player1.name%>
<h1><%=@attacked_player%> was attacked by <%=@player2.name%>!!!</h1>
<% else %>
<h1><%=@attacked_player%> was attacked by <%=@player1.name%>!!!</h1>
<% end %>
<a href="/play">Play</a>
</div>