<% if @player.hit_points >0 %>

  <h1><%= @player.name %> was attacked!!!</h1>

  <form action="/play">
  <button name='play' type='submit'>Ouch</button>
  </form>

<% else %>

<h1><%= @player.name %> is dead!!!! D:</h1>

<form action="/end">
<button name='end' type='submit'>Finish</button>
</form>

<% end %>
