<h1> Please enter the names of the players </h1>

<form action='/names' method='post'>
 Player 1: <input type="text" name="name_one">
 Player 2:  <input type="text" name="name_two">
  <input type="submit" value="Submit">
</form>
